*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
/*Variables de colores*/
:root{
	--primary-color:  #F0A0D0;
	--secondary-color: #000000;
	--third-color: #DB5BAC;
	--fourth-color: #F5B3E8;
	--fifth-color: #FFFFFF;
}
.dark{
	--primary-color: #1D594D;
	--secondary-color: #FFFFFF;
	--third-color: #1BA67C;
	--fourth-color: #267363;
	--fifth-color: #000000;
}
/*Variables de colores*/
body {
	transition: 1s;
	font-family: 'Raleway', sans-serif;
	background: var(--third-color);
}
body.dark{
	transition: 1s;
	background: var(--third-color);
}
/*Scrollbar
::-webkit-scrollbar{
	width: 0;
}
#scrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(0, 0, 0, 1);
}
#progressbar{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(to top,#008aff,#00ffe7);
	animation: animate 5s linear infinite;
}
@keyframes animate{
	0%,100%{
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(360deg);
	}
}
#progressbar:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	background: linear-gradient(to top,#008aff,#00ffe7);
	filter: blur(10px);
}
#progressbar:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	background: linear-gradient(to top,#008aff,#00ffe7);
	filter: blur(30px);
}
Scrollbar*/
/*Tarjetas Inicio*/
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	flex-wrap: wrap;
}
.container .box{
	position: relative;
	width: 250px;
	height: 400px;
	color: var(--secondary-color);
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 30px;
	transition: 0.5s;
}
.container .box:hover{
	transform: translateY(-20px);
}
.container .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #FF8600, #FF0000);
}
.container .box::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #FF8600, #FF0000);
	filter: blur(30px);
}
.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after{
	background: linear-gradient(315deg, #8AFF05, #F5FF00);
}
.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after{
	background: linear-gradient(45deg, #00FFF7, #04FF00);
}
.container .box:nth-child(4)::before,
.container .box:nth-child(4)::after{
	background: linear-gradient(315deg, #9000FF, #000BF0);
}
.container .box:nth-child(5)::before,
.container .box:nth-child(5)::after{
	background: linear-gradient(45deg, #FF0000, #FF00FF);
}
.container .box span{
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	background: rgba(0, 0, 0, 0.6);
	z-index: :2;
}
.container .box span: :before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}
.container .box .content{
	z-index: 10;
	padding: 20px 40px;
}
.container .box .content h2{
	font-size: 2em;
	color: #fff;
	margin-bottom: 10px;
}
.container .box .content p{
	font-size: 1.1em;
	color: #000;
	margin-bottom: 10px;
	line-height: 1.4em;
}
.container .box .content a{
	display: inline-block;
	font-size: 1.1em;
	color: #111;
	background: #fff;
	padding: 10px;
	text-decoration: none;
	font-weight: 100;
}
/*Tarjetas Inicio*/
/*Barra de Navegacion*/
.menu{
	transition: 1s;
	background: var(--primary-color);
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
/*Switch boton Dark Mode*/
.switch{
	background: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
	margin-right: 25px;
	
}
.switch span{
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: block;
		background: none;
		color: #fff;
}
.switch::after{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #f1f1f1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: .3s ease all;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active{
	background: orange;
	color: #000;
}
.switch.active::after{
	right: 0;
	left: unset;
}
/*Switch boton Dark Mode*/
.logo{
	color: var(--secondary-color);
	font-size: 35px;
	padding: 0 80px;
	font-weight: bold;
}
.items{
	display: flex;
	list-style: none;
	margin-right: 30px;
}
.items li{
	border-radius: 3px;
	margin: 0 5px;
}
.items li a{
	padding: 7px 13px;
	text-decoration: none;
	font-size: 15px;
	display: block;
	text-transform: uppercase;
	color: var(--secondary-color);
}
.items li:hover, li.active{
	background-color: rgba(0, 0, 0, 0.3);
	transition: .4s;
}
.boton_menu{
	margin-right: 30px;
	font-size: 25px;
	color: var(--secondary-color);
	cursor: pointer;
	display: none;
}
ul.show{
	top: 65px;
}
@media screen and (max-width: 952px){
	.logo{
		font-size: 30px;
		padding-left: 35px;
	}
	.items li a{
		font-size: 12px;
	}
}
@media screen and (max-width: 858px){
	.menu{
		height: 65px;
	}
	.boton_menu{
		display: inline-flex;
	}
	.items{
		position: fixed;
		width: 100vw;
		height: calc(100% - 65px);
		background: var(--fourth-color);
		top: -100vh;
		text-align: center;
		transition: all .4s;
		flex-direction: column;
	}
	.items li{
		margin: 30px 0 0 0;
		line-height: 30px;
	}
	.items li:hover{
		background: none;
	}
	.items li a{
		font-size: 20px;
		color: var(--secondary-color);
		font-weight: bold;
	}
	.items li a:hover{
		color: var(--third-color);
	}
	.logo{
		font-size: 20px;
		padding-left: 35px;
	}
}
@media screen and (max-width: 850px){
	.items li{
		margin: 5px 0 0 0;
	}
	.items{
		overflow: scroll;
		height: calc(100% - 65px);
	}
}
/*Barra de Navegacion*/
/*Texto de la pagina*/
.text{
	transition: 1s;
	flex: 2;
	padding: 25px;
	background-color: var(--fourth-color);
	margin: 15px;
	box-shadow: 5px 5px 5px;	
	border-radius: 25px;
}
.rutina{
	text-align: center;
}
.text a{
	text-align: center;
	color: var(--secondary-color);
	text-decoration: none;
	border-bottom: 1px solid var(--third-color);
}
.text a:hover{
	background-color: rgba(0, 0, 0, 0.3);
	transition: .4s;
	border-radius: 5px;
}
.text h2, .text h3{
	text-align: center;
	color: var(--secondary-color);
}
.text p{
	color: var(--secondary-color);
}
.imagen{
	text-align: center;
	height: 150px;
	padding: 25px;
}
.hv{
	text-align: center;
}
/*Texto de la pagina*/
/*Pie de Pagina*/
footer{
	transition: 1s;
	max-width: 100%;
	background: var(--fifth-color);
	color: var(--secondary-color);
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	padding: 30px;
	font-family: sans-serif;
	font-size: 20px;
}
/*Pie de Pagina*/