*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
:root{
	--primary-color:  #F0A0D0;
	--secondary-color: #000000;
	--third-color: #DB5BAC;
	--fourth-color: #F5B3E8;
}
.dark-theme{
	--primary-color: #1D594D;
	--secondary-color: #FFFFFF;
	--third-color: #1BA67C;
	--fourth-color: #267363;
}
body {
	font-family: 'Raleway', sans-serif;
	background: var(--third-color);
}
.menu{
	background: var(--primary-color);
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}
.logo{
	color: var(--secondary-color);
	font-size: 35px;
	padding: 0 80px;
	font-weight: bold;
}
#icon{
	width: 30px;
	cursor: pointer;
}
.items{
	display: flex;
	list-style: none;
	margin-right: 30px;
}
.items li{
	border-radius: 3px;
	margin: 0 5px;
}
.items li a{
	padding: 7px 13px;
	text-decoration: none;
	font-size: 15px;
	display: block;
	text-transform: uppercase;
	color: var(--secondary-color);
}
.items li:hover, li.active{
	background-color: rgba(0, 0, 0, 0.3);
	transition: .4s;
}
.boton_menu{
	margin-right: 30px;
	font-size: 25px;
	color: var(--secondary-color);
	cursor: pointer;
	display: none;
}
ul.show{
	top: 65px;
}
@media screen and (max-width: 952px){
	.logo{
		font-size: 30px;
		padding-left: 35px;
	}
	.items li a{
		font-size: 12px;
	}
}
@media screen and (max-width: 858px){
	.menu{
		height: 65px;
	}
	.boton_menu{
		display: inline-flex;
	}
	.items{
		position: fixed;
		width: 100vw;
		height: calc(100% - 65px);
		background: var(--fourth-color);
		top: -100vh;
		text-align: center;
		transition: all .4s;
		flex-direction: column;
	}
	.items li{
		margin: 30px 0 0 0;
		line-height: 30px;
	}
	.items li:hover{
		background: none;
	}
	.items li a{
		font-size: 20px;
		color: var(--secondary-color);
		font-weight: bold;
	}
	.items li a:hover{
		color: var(--third-color);
	}
	.logo{
		font-size: 20px;
		padding-left: 35px;
	}
}
@media screen and (max-width: 850px){
	.items li{
		margin: 5px 0 0 0;
	}
	.items{
		overflow: scroll;
		height: calc(100% - 65px);
	}
}
.text{
	flex: 2;
	padding: 25px;
	background-color: var(--primary-color);
	margin: 15px;
	box-shadow: 5px 5px 5px;
	text-align: center;	
}
.text a{
	color: var(--secondary-color);
	text-decoration: none;
	border-bottom: 1px solid var(--third-color);
}
.text h2, h3, p{
	color: var(--secondary-color);
}